@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 500;
    src: url(https://slfiles.vercel.app/fonts/GeologicaNerdFont-Medium.ttf);
}

@font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: 500;
    src: url(https://slfiles.vercel.app/fonts/JetBrainsMonoNerdFontMono-Medium.ttf);
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(https://slfiles.vercel.app/fonts/MaterialSymbolsRounded.woff2) format('woff2');
}

.icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Geologica';
    @apply bg-white dark:bg-black text-black dark:text-white transition-colors duration-300;
}

input {
    @apply text-white bg-black dark:text-black dark:bg-white rounded-md
}

code,
kbd,
samp,
pre,
.mono {
    font-family: 'JetBrainsMono';
}

button,
a {
    @apply cursor-pointer;
}

button {
    @apply disabled:bg-zinc-600 dark:disabled:bg-zinc-700 dark:bg-zinc-800 bg-zinc-300 rounded-md px-2 m-auto text-center;
}

a,
button {
    @apply cursor-pointer;
}
